* {
  	margin:0;
  	padding: 0;
  	box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #A9A9A9;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.minsk_weather{
    max-width: 500px;
    min-height: 300px;
    margin: 30px auto;
    border-radius: 20px;
 }
.wraper_firstLine{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
 }
.tempMinsk{
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 58px;
}
.img{
    width: 50%;
    text-align: center;
}
.iconMinsk{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.claudsMinsk{
    text-align: center;
    height: 20px;
}
.current_data{
    font-size: 12px;
}
i{
    font-size:11px;
    margin: 5px 5px 5px 0px;
}
hr{
    border: none; 
    color: #f7e3e342; 
    background-color: #f7e3e342; 
    height: 2px;
    width: 100%;
}
.title{
    margin:10px 0px;
}
.titleMinsk{  
    width: 60%;
    min-height: 80px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    font-family: 'Charm', cursive;
}
.dateMinsk{
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
}
.all_dayForecast{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.block{
    width: 12.5%;
    margin: 5px 0;
    text-align: center;
 }
 .chooseCity{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     min-height: 40px;
     margin: 80px auto;
     max-width: 40%;
 }
 .input{
     width: 100%;
     min-height: 40px;
     background-color: transparent !important;
     border: 0 !important;
     border-bottom: 1px solid black !important;
     color: #fff;
     outline: 0px !important;
     font-size: 24px;
 }
 .dropdown{
    height: 0;
    width: 100%;
	background-color: #6f6b6b96;
	border-radius: 10px;
    margin-top: 20px;
    overflow: auto;
    padding-left: 20px;
 }
 .chooseCity li{
     cursor: pointer;
     list-style-type: none;
     }
 .chooseCity li:hover{
    font-size: 18px;
 }